<nav class="navbar navbar-expand-md navbar-dark  bg-primary">
<div class="container">
<a class="navbar-brand" href="#">DatingApp</a>
 

  
    <ul *ngIf="loggedin()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Messages</a>
      </li>
      
    
    </ul>
    <div dropdown *ngIf="loggedin()" class="dropdown">
  <a  dropdownToggle class="dropdown-toggle text-light">
    Welcome {{authservice.decodedToken?.unique_name | titlecase}}
  </a>
  <div *dropdownMenu class="dropdown-menu mt-3">
    <a class="dropdown-item" href="#"> <i class="fa fa-user"></i>Edit Profile</a>
    <div class="dropdown-divider"> </div>
    <a class="dropdown-item" (click)="logout()"> <i class ="fa fa-sign-out"></i>
    Logout</a>
  </div>
</div>
    <form *ngIf="!loggedin()"  #LoginForm="ngForm" class="form-inline my-2 my-lg-0"(ngSubmit)="Login()">
      <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" required [(ngModel)]="model.Username"   >
      <input class="form-control mr-sm-2" name="password" type="text" placeholder="Password" required [(ngModel)]="model.Password"  >
      <button [disabled]="!LoginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  
</div>
  
</nav> 